.formulario{
    width: 500px;
    background: aliceblue;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    color: black;
    box-shadow: 7px 13px 37px rgb(199, 198, 198);
    h4{
        font-size: 22px;
        margin-bottom: 20px;
        p{
            height: 40px;
            text-align: center;
            font-size: 18px;
        }
    }
}

.cuadros{
    width: 100%;
    background: aliceblue;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-size: 18px;
}

.btnp{
    width: 100%;
    background: rgb(0, 136, 255);
    border: none;
    color: white;
    padding: 16px;
    margin: 16px 0;
}

.fondo{
    background-image: url('../img/fondo.jpg')
}