.bg-color{
    background-color: aliceblue;
}

.navbar ul li{
    padding: 20px;
    a{
        text-decoration: none;
        color: black;
        font-family: 'Josefin Sans', sans-serif;
    } 
}


