.nosotros__descripcion{
    text-align: center;
    font-size: x-large;
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
}
.nosotros__img{
    margin-top: 50px;
    width: 100%;
}
@media (max-width: 975px) {
    .nosotros__descripcion{
        font-size: medium;
    }
}