.nosotros__descripcion{
    text-align: center;
    font-size: x-large;
    margin: 20px;
    padding: 20px;
    background-color: aliceblue;
}
.nosotros__img{
    display: flex;
    justify-items: left;
    width: 100%;
}
@media (max-width: 975px) {
    .nosotros__descripcion{
        font-size: medium;
    }
    .nosotros__img {
        justify-content: flex-end;
}
}